<div class="modal-content">
  <div id="require">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Регистрация на <%= @event.name %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>

    <%= simple_form_for @student, remote: true do |f| %>
      <div class="modal-body">
        <%= f.input :second_name, label: 'Фамилия', error: 'Фамилия — это обязательное поле', placeholder: 'Иванов' %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.input :first_name, label: 'Имя', error: 'Имя — это обязательное поле', placeholder: 'Иван'%>
        <%= f.input :email, error: 'Укажите почту, а то мы не сможем с вами связаться', placeholder: 'ivanivanov@student.bmstu.ru' %>
        <%= f.input :group, error: 'Учебная группа — это обязательное поле', inline_label: 'Yes, remember me', placeholder: 'ФН1-11Б', label: 'Учебная группа' %>
        <%= f.input :faculty, as: :select, :collection => ["РТ", "АК"], error: 'Факультет — это обязательное поле', label: 'Факультет' %>
        <%= f.input :bilet, inline_label: 'Yes, remember me', error: 'Студенческий билет — это обязательное поле', label: 'Студенческий билет'%>
        <%= f.input :phone, error: 'Укажите телефон, а то мы не сможем с вами связаться', label: 'Номер телефона', placeholder: '89123456789'  %>
        <%= f.input :vk_id, label: 'ВКонтакте', placeholder: 'vk.com/id' %>
        <% if !@event.solo %>
          <%= f.input :team_id, as: :select, :collection => @teams, error: 'Команда — это обязательное поле', label: 'Команда' %>
          <%end %>
      </div>

      <div class="modal-footer">
        <%= f.button :submit, 'Зарегистрироваться', class: "btn btn-blue" %>
    <% end %>
    </div>

  </div>

  <div style="display:none" id="response">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Электронный билет</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>

    <div class="modal-body" id="show_bilet">

    </div>

    <div class="modal-footer">

    </div>
  </div>
</div>