
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 bg-white border-bottom sticky-top">
  <h1 class="h2"><%= @student.second_name + " " + @student.first_name%> </h1>
  <div>
    <%= link_to student_path(format: 'pdf'), class: 'btn' do%>
      <i class="fas fa-save"></i> Скачать
    <% end %>

    <%= link_to  new_event_path, class: 'btn margin-right-1rem' do%>
      <i class="fas fa-plus-circle"></i> Новое
    <% end %>

  </div>

</div>

<br>


<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Группа:</strong>
  <%= @student.group %>
</p>

<p>
  <strong>Факультет:</strong>
  <%= @student.faculty %>
</p>

<p>
  <strong>Билет:</strong>
  <%= @student.bilet %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>ВКонтакте:</strong>
  <%= @student.vk_id %>
</p>

<p>
  <strong>Посещение:</strong>
  <% if @student.visit? %>
    Да
  <% else %>
    Нет
  <% end %>
</p>

<p>
  <strong>qrcode:</strong>
  <%= get_qrcode(@student.qrcode).html_safe %>
</p>


