
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 bg-white border-bottom sticky-top">
  <h1 class="h2">Мероприятия </h1><%= link_to new_event_path, class: 'btn' do %> <i class="fas fa-plus-circle"></i>
    Новое
  <% end %>
</div>

<br>



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

  <div class="carousel-inner">
    <div class="carousel-indicators event-select">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="event-selector active" aria-current="true" aria-label="Slide 1">Все
        мероприятия
      </button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="event-selector" aria-label="Slide 2">Открыта
        регистрация
      </button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="event-selector" aria-label="Slide 2">Анонсированные
      </button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="event-selector" aria-label="Slide 2">Архив
      </button>
    </div>

    <div class="carousel-item active event-select">

      <div class="container padding-none">

        <div class="row margin-none">
          <% @events.each do |event| %>
            <div class="event-card col-xl-6 col-lg-12 col-sm-12 ">
              <div class="col-5" onclick="window.location.href = 'events/<%=event.id%>'">
                <%= image_tag event.photo.url, class: 'event-card-img card-img-top' if event.photo? %>
              </div>
              <div class="col-7 event-card-description">
                <h1 class="event-card-header"><%= event.name %></h1>
                <tr>
                  <td><%= link_to show_students_path(event), class: 'btn' do %>
                      <i class="fas fa-users"></i> Участники
                    <% end %>
                  </td>
                  <td>
                    <% if event.activation %>
                      <%= link_to activation_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                        <i class="fas fa-toggle-off"></i> Остановить
                      <% end %>
                    <% else %>
                      <%= link_to activation_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                        <i class="fas fa-toggle-on"></i> Стартовать
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if event.preview %>
                      <%= link_to get_preview_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                        <i class="far fa-file-archive"></i> В архив
                      <% end %>
                    <% else %>
                      <%= link_to get_preview_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                        <i class="fas fa-bullhorn"></i> Анонс
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= link_to edit_event_path(event), class: 'btn btn-sm' do %>
                      <i class="fas fa-edit"></i> Изменить
                    <% end %>

                  </td>
                  <td><%= link_to event, class: "btn btn-sm btn", remote: true, method: :delete, data: { confirm: 'Вы уверены?' } do %>
                      <i class="fas fa-trash-alt"></i> Удалить
                    <% end %>
                  </td>
                </tr>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item event-select">

      <div class="container padding-none">

        <div class="row margin-none">
          <% @active_events.each do |event| %>
            <div class="event-card col-xl-6 col-lg-12 col-sm-12 ">
              <div class="col-5" onclick="window.location.href = 'events/<%=event.id%>'">
                <%= image_tag event.photo.url, class: 'event-card-img card-img-top' if event.photo? %>
              </div>
              <div class="col-7 event-card-description">
                <h1 class="event-card-header"><%= event.name %></h1>
                <tr>
                  <td><%= link_to show_students_path(event), class: 'btn' do %>
                      <i class="fas fa-users"></i> Участники
                    <% end %>
                    <td>
                      <% if event.activation %>
                        <%= link_to activation_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="fas fa-toggle-off"></i> Остановить
                        <% end %>
                      <% else %>
                        <%= link_to activation_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-toggle-on"></i> Стартовать
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if event.preview %>
                        <%= link_to get_preview_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="far fa-file-archive"></i> В архив
                        <% end %>
                      <% else %>
                        <%= link_to get_preview_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-bullhorn"></i> Анонс
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= link_to edit_event_path(event), class: 'btn btn-sm' do %>
                        <i class="fas fa-edit"></i> Изменить
                      <% end %></td>
                    <td><%= link_to event, class: "btn btn-sm btn", remote: true, method: :delete, data: { confirm: 'Вы уверены?' } do %>
                        <i class="fas fa-trash-alt"></i> Удалить
                      <% end %></tr>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item event-select">

      <div class="container padding-none">

        <div class="row margin-none">
          <% @preview_events.each do |event| %>
            <div class="event-card col-xl-6 col-lg-12 col-sm-12 ">
              <div class="col-5" onclick="window.location.href = 'events/<%=event.id%>'">
                <%= image_tag event.photo.url, class: 'event-card-img card-img-top' if event.photo? %>
              </div>
              <div class="col-7 event-card-description">
                <h1 class="event-card-header"><%= event.name %></h1>
                <tr>
                  <td><%= link_to show_students_path(event), class: 'btn' do %>
                      <i class="fas fa-users"></i> Участники
                    <% end %>
                    <td>
                      <% if event.activation %>
                        <%= link_to activation_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="fas fa-toggle-off"></i> Остановить
                        <% end %>
                      <% else %>
                        <%= link_to activation_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-toggle-on"></i> Стартовать
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if event.preview %>
                        <%= link_to get_preview_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="far fa-file-archive"></i> В архив
                        <% end %>
                      <% else %>
                        <%= link_to get_preview_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-bullhorn"></i> Анонс
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= link_to edit_event_path(event), class: 'btn btn-sm' do %>
                        <i class="fas fa-edit"></i> Изменить
                      <% end %></td>
                    <td><%= link_to event, class: "btn btn-sm btn", remote: true, method: :delete, data: { confirm: 'Вы уверены?' } do %>
                        <i class="fas fa-trash-alt"></i> Удалить
                      <% end %></tr>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item event-select">

      <div class="container padding-none">

        <div class="row margin-none">
          <% @events_archive.each do |event| %>
            <div class="event-card col-xl-6 col-lg-12 col-sm-12 ">
              <div class="col-5" onclick="window.location.href = 'events/<%=event.id%>'">
                <%= image_tag event.photo.url, class: 'event-card-img card-img-top' if event.photo? %>
              </div>
              <div class="col-7 event-card-description">
                <h1 class="event-card-header"><%= event.name %></h1>
                <tr>
                  <td><%= link_to show_students_path(event), class: 'btn' do %>
                      <i class="fas fa-users"></i> Участники
                    <% end %>
                    <td>
                      <% if event.activation %>
                        <%= link_to activation_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="fas fa-toggle-off"></i> Остановить
                        <% end %>
                      <% else %>
                        <%= link_to activation_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-toggle-on"></i> Стартовать
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if event.preview %>
                        <%= link_to get_preview_event_path(event), id: "inactive", method: :patch, class: 'inactive btn', remote: true do %>
                          <i class="far fa-file-archive"></i> В архив
                        <% end %>
                      <% else %>
                        <%= link_to get_preview_event_path(event), id: "active", method: :patch, class: 'active btn', remote: true do %>
                          <i class="fas fa-bullhorn"></i> Анонс
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= link_to edit_event_path(event), class: 'btn btn-sm' do %>
                        <i class="fas fa-edit"></i> Изменить
                      <% end %></td>
                    <td><%= link_to event, class: "btn btn-sm btn", remote: true, method: :delete, data: { confirm: 'Вы уверены?' } do %>
                        <i class="fas fa-trash-alt"></i> Удалить
                      <% end %></tr>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>