<main>

  <div id="myCarousel" class="carousel slide carousel-fade" data-bs-touch="true" >
    <div class="carousel-inner carousel-events">
      <div class="carousel-item active" style="background: url('<%= asset_path('bann1.jpg') %>') no-repeat center center; ">
      </div>
      <div class="carousel-item" style="background: url('<%= asset_path('banner_1.jpg') %>') no-repeat center center; ">
      </div>
      <div class="carousel-item" style="background: url('<%= asset_path('banner_2.jpg') %>') no-repeat center center; ">
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1" class=""></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
    </ol>
  </div>



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false" data-bs-touch="true">

    <div class="carousel-inner">
      <div class="carousel-indicators event-select">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="event-selector active" aria-current="true" aria-label="Slide 1">Открыта регистрация ›
        </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="event-selector" aria-label="Slide 2">Планируются
          ›
        </button>
      </div>
      <div class="carousel-item active event-select">
        <div class="container">

          <div class="row">

            <%= render "events/events" %>
          </div>
        </div>
      </div>
      <div class="carousel-item event-select">
        <div class="container">

          <div class="row">

            <%= render "events/preview_events" %>
          </div>
        </div>
      </div>


    </div>

  </div>


  </div>


</main>