<nav class="navbar navbar-expand-md bg-white border-delimiter">
  <div class="col-md-6">
    <div class="padding-1rem font-brand <% if request.request_id ==""  %>  small <%end%>flex-column">
      <a class="navbar-brand" href="<%= root_path %>">Мероприятия <br>
        Профсоюза студентов</a>
    </div>
  </div>
  <div class="col-md-6 align-content-end row justify-content-end align-items-center margin-none">

    <% if account_signed_in? %>
      <%= link_to events_path, class: "btn" do%>
        <i class="far fa-user"></i> Личный кабинет
      <% end %>
      <%= link_to destroy_account_session_path, class: "btn margin-right-1rem", method: :delete do%>
        <i class="fas fa-door-open"></i> Выйти
      <% end %>
      <% else %>
      <div class="icon" style="background: url('<%= asset_path('VK.svg') %>') no-repeat center center;" onclick="window.location.href = 'https://vk.com/profkom_bmstu'"></div>
      <div class="icon margin-right-1rem" style="background: url('<%= asset_path('INSTA.svg') %>') no-repeat center center;"onclick="window.location.href = 'https://www.instagram.com/profkom_bmstu/'"></div>
    <% end %>
  </div>

</nav>
